{% extends 'work/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Add New Advertise{% endblock %}</title>
</head>
<body>
 {% block about %}{% endblock %}
{% block support %}{% endblock %}


{% block advs %}{% endblock %}
{% block profiles %}{% endblock %}
{% block show_adv %}{% endblock %}
 {% block show_adv %}{% endblock %}


    {% block form_profile_edit %}{% endblock %}
    {% block form_profile_add %}{% endblock %}
    {% block form_adv_add %}{% endblock %}
</body>
</html>
